.img{
    height: 65vh;
    width: 100vw;
    object-fit: cover;
}
.bloglist-heading{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}




@media screen and (max-width: 600px) {
    .bloglist-heading{
        font-size: 15px;
        text-align: center;
    }
}